    <br/>
    <div class="row">
        <div class="col-xs-12">
            <a href="#" onclick="hbs.change('shopKeeperCampaign')">
                <img src="images/p_keeper_campaign_link.png" alt="KeePerコーティング店舗はこちら" style="max-width: 100%;">
            </a>
        </div>
    </div>
    <br>
