#J-Quest-Navbar.navbar-default {
  background-color: #00a465;
  border-bottom: 4px solid #8fc31f;
  font-size: 14px;
}
#J-Quest-Navbar.navbar-default .navbar-brand {
  color: #ffffff;
}
#J-Quest-Navbar.navbar-default .navbar-nav > li > a {
  background-color: #8fc31f;
  color: #e6e6e6;
}
#J-Quest-Navbar.navbar-default .navbar-nav > li > a:hover {
  background-color: #8fc31f;
  background: -webkit-linear-gradient(top, #00a465 0%, #8fc31f 100%);
  background: linear-gradient(to bottom, #00a465 0%, #8fc31f 100%);
  color: #ffffff;
}
#J-Quest-Navbar.navbar-default .navbar-nav > li > a:focus {
  background-color: #8fc31f;
  background: -webkit-linear-gradient(top, #00a465 0%, #8fc31f 100%);
  background: linear-gradient(to bottom, #00a465 0%, #8fc31f 100%);
  color: #ffffff;
}
#J-Quest-Navbar.navbar-default .navbar-nav > .active > a {
  background-color: #8fc31f;
  color: #ffffff;
}
#J-Quest-Navbar.navbar-default .navbar-nav > .active > a:hover {
  background-color: #8fc31f;
  color: #ffffff;
}
#J-Quest-Navbar.navbar-default .navbar-nav > .active > a:focus {
  background-color: #8fc31f;
  color: #ffffff;
}
#J-Quest-Navbar.navbar-default .navbar-toggle {
  border-color: #8fc31f;
  color: white;
}
#J-Quest-Navbar.navbar-default .navbar-toggle:hover {
  background-color: #8fc31f;
}
#J-Quest-Navbar.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: white;
}
#J-Quest-Navbar.navbar-default .navbar-toggle:focus {
  background-color: #8fc31f;
}
#J-Quest-Navbar.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: white;
}
#J-Quest-Navbar.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
#J-Quest-Navbar.navbar-default .navbar-collapse {
  border: none;
  max-height: 450px;
}
#J-Quest-Navbar.navbar-default .navbar-collapse .navbar-nav {
  /*　リンク色指定 */
}
#J-Quest-Navbar.navbar-default .navbar-collapse .navbar-nav li a {
  text-shadow: 1px 1px 2px black;
  font-size: 1.2em;
}
#J-Quest-Navbar.navbar-default .navbar-collapse .navbar-nav li:nth-child(1) a {
  background: none;
  text-align: right;
}
#J-Quest-Navbar.navbar-default .navbar-collapse .navbar-nav li:nth-child(2) a {
  background: #593d1e;
}
#J-Quest-Navbar.navbar-default .navbar-collapse .navbar-nav li:nth-child(3) a {
  background: #c472ac;
}
#J-Quest-Navbar.navbar-default .navbar-collapse .navbar-nav li:nth-child(4) a {
  background: #a7cf21;
}
#J-Quest-Navbar.navbar-default .navbar-collapse .navbar-nav li:nth-child(5) a {
  background: #fb801a;
}
#J-Quest-Navbar.navbar-default .navbar-collapse .navbar-nav li:nth-child(6) a {
  background: #fbc122;
}
#J-Quest-Navbar.navbar-default .navbar-collapse .navbar-nav li:nth-child(7) a {
  background: #58a2db;
}
#J-Quest-Navbar.navbar-default .navbar-collapse .navbar-nav li:nth-child(8) a {
  background: #46b9aa;
}
#J-Quest-Navbar.navbar-default .navbar-collapse .navbar-nav li:nth-child(9) a {
  background: #e2bd97;
}
#J-Quest-Navbar.navbar-default .navbar-collapse .navbar-nav li:nth-child(10) a {
  background: #7f7f7f;
}
/* Home page top Block navs */
#mobile-navbricks .brick-top {
  background-image: url("../recruit/images/rc08.jpg");
  background-position: center;
  height: 12em;
}
#mobile-navbricks .nav {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}
#mobile-navbricks .nav li {
  display: table;
  padding: 0;
  height: 5em;
  /*　リンク色指定 */
}
#mobile-navbricks .nav li:nth-child(1) {
  background: #593d1e;
}
#mobile-navbricks .nav li:nth-child(2) {
  background: #c472ac;
}
#mobile-navbricks .nav li:nth-child(3) {
  background: #a7cf21;
}
#mobile-navbricks .nav li:nth-child(4) {
  background: #fb801a;
}
#mobile-navbricks .nav li:nth-child(5) {
  background: #fbc122;
}
#mobile-navbricks .nav li:nth-child(6) {
  background: #58a2db;
}
#mobile-navbricks .nav li:nth-child(7) {
  background: #46b9aa;
}
#mobile-navbricks .nav li:nth-child(8) {
  background: #e2bd97;
}
#mobile-navbricks .nav li:nth-child(9) {
  background: #7f7f7f;
}
#mobile-navbricks .nav a {
  display: table-cell;
  vertical-align: middle;
  color: white;
  text-shadow: 1px 1px 2px black;
  padding: 0;
}
