<!-- 教えて JQ ♪ -->
<div class="recruit">
    <p><a href="#"  onClick="hbs.change('recruit')">採用情報トップ</a>＞<a href="#"  onClick="hbs.change('recruit/recruit-parttimer')">パートタイマースタッフ募集</a>>教えてJQ♪</p>
    <h2>教えて JQ ♪</h2>
    <br />
    <div id="st-accordion" class="st-accordion">
        <ul>
            <li> <a href="#">男女比は？<span class="st-arrow">Open or Close</span></a>
                <div class="st-content">
                    <p>パートタイマースタッフの皆さんは２０１４年３月現在では男性４８５名、女性４６０名と男女比５１：４９と男性も女性も活躍しています。</p>
                    <img src="../J-Quest/recruit/images/danjohi.gif" width="257" height="165" alt="男女比" /></div>
            </li>
            <li> <a href="#">年齢構成は？<span class="st-arrow">Open or Close</span></a>
                <div class="st-content">
                    <p>同じくパートタイマーのスタッフの皆さんは２０１２年５月現在では１８歳～６９歳と幅広い年齢のスタッフのみなさんが活躍しています。</p>
                </div>
            </li>
            <li> <a href="#">採用プロセスは？<span class="st-arrow">
        　　　Open or Close</span></a>
                <div class="st-content">
                    <p>こちらのホームページからのご応募でも直接ご希望のお店へのお電話でのご応募でもOK！！
                    </p>
                </div>
            </li>
            <li> <a href="#">お店はどこにあるの？<span class="st-arrow">Open or Close</span></a>
                <div class="st-content">
                    <p>J-Questのお店は１都１道１府１５県　７８店舗（２０１２年６月現在）があります。 あなたのお住まいのそばにありますか？
                    </p>
                    <p>→<a href="../shops.html">店舗情報ページ</a></p>
                </div>
            </li>
            <li> <a href="#">キャリアプランは？<span class="st-arrow">
        　　　Open or Close</span></a>
                <div class="st-content">
                    <p>パートタイマースタッフとして働いていただく中で、よりお店の経営に色濃く携わっていただきたいチーフスタッフや必要なスキルを備えていただき社員登用のチャンスなどの様々な活躍していただけるステージをご用意しています。
                    </p>
                </div>
            </li>
            <li> <a href="#">ガソリンスタンドって安全なの？<span class="st-arrow">
        　　　Open or Close</span></a>
                <div class="st-content">
                    <p>J-Questではお客様に安全にご利用いただくのはもちろん、あなた自身の安全もしっかりと守るために危険物資格を取得していただき施設なども安全に使っていただけるように点検・整備をしています。
                    </p>
                </div>
            </li>
            <li> <a href="#">ほかのガソリンスタンドとの違いは？<span class="st-arrow">
        　　　Open or Close</span></a>
                <div class="st-content">
                    <p>大きな違いとしてセルフスタイルの精算方式に違いがあります。J-Questは給油終了後にお客様にSHOP内のレジまで来ていただき精算をしていただいています。
                        <br /> また、お客様に「最高のおもてなし」を提供しています。
                    </p>
                </div>
            </li>
            <li> <a href="#">昇給はありますか？<span class="st-arrow">
        　　　Open or Close</span></a>
                <div class="st-content">
                    <p>ありますよ！J-Questの昇給システムはあなたとストアマネジャー（店長）とで個々に目標を設定し、その到達具合を月に１回話し合います。見事！！目標をクリアすれば、毎月昇給できるチャンスがあります！まさにあなたの努力が成果としてしっかりと評価されるシステムですのでやりがいを持って勤務できますよね♪
                    </p>
                </div>
            </li>
            <li> <a href="#">やっぱり作業着なんですか？<span class="st-arrow">
        　　　Open or Close</span></a>
                <div class="st-content">
                    <p>いいえ！オシャレなカフェのユニフォームに似ています（笑）一部貸与ですのでご自身で用意していただくものもあります。
                    </p>
                </div>
            </li>
            <li> <a href="#">マイカー通勤はOK？<span class="st-arrow">
        　　　Open or Close</span></a>
                <div class="st-content">
                    <p>もちろん大丈夫です！！車の運転って運転しない人にはなかなか分かり辛いものですよね？お客様はお車で来店されますのでお客様のお気持ちがわかるためにも車の運転は必要ですね。
                    </p>
                </div>
            </li>
            <li> <a href="#">わたし高校生なんですけど？<span class="st-arrow">
        　　　Open or Close</span></a>
                <div class="st-content">
                    <p>ごめんなさい！！J-Questの採用基準として１８歳以上（高校生不可）の方と一緒にお店を創っていきたいと考えております。（車の運転などお客様の気持ちになっていただきたいため）ぜひ卒業後のご応募お待ちしております。
                    </p>
                </div>
            </li>
            <li> <a href="#">ガソリン代の割引きってありますか？<span class="st-arrow">
        　　　Open or Close</span></a>
                <div class="st-content">
                    <p>ありますよ。楽しく働けてガソリンも安く給油できて最高ですね♪
                    </p>
                </div>
            </li>
            <li> <a href="#">アルバイト（ガソリンスタンド）が初めてなんですけど・・・<span class="st-arrow">
        　　　Open or Close</span></a>
                <div class="st-content">
                    <p>心配ありませんよ。ほとんどのパートタイマースタッフのみなさんはほとんど未経験からのスタートですよ。ご安心ください。先輩スタッフが優しくていねいに教えてくれるので安心してくださいね♪
                    </p>
                </div>
            </li>
            <li> <a href="#">危険物取扱者（乙４）<span class="st-arrow">
        　　　Open or Close</span></a>
                <div class="st-content">
                    <p>消防法に基づく危険物を取扱い、またはその取扱いに立ち会うために必要な国家資格です。
                        <br /> なかでも当社で必要なのは「引火性液体」の取り扱いが可能になる乙種第4類の免許です。
                        <br /> お客様に「安全かつ快適な」店舗をご提供し続けるためにも、一人ひとり危険物に対する知識を持っていただきたいと思っています。
                        <br /> 資格の取得は入社後バックアップしておりますので、今お持ちでなくてもどうかご安心くださいね♪
                        <br /> 　⇒
                        <a href="recruitment_merit.html#x4">「資格取得補助」</a></p>
                </div>
            </li>
        </ul>
    </div>
    <img src="../J-Quest/images/bl.gif" alt="" height="10" class="clear" />
    <p><img src="../J-Quest/images/bl.gif" alt="" height="30" class="clear" /> </p>
    <div align="center">
        <p class="btn-danger btn">
            <a href="#"  onClick="hbs.change('recruit')">
          応募はこちらから</a></p>
    </div>
    <!--/応募要項-->
</div>
