<!-- ストアマネジャー候補募集 -->
<div class="recruit">
    <p><a href="#"  onClick="hbs.change('recruit')">採用情報トップ</a>＞ストアマネジャー候補募集</p>
    <h2>ストアマネジャー候補募集</h2>
    <h3>すべてはお客様のために</h3>
    <p>ジェイ・クエストは、「ショッピングモール併設型セルフガソリンスタンド」を運営しているJX日鉱日石エネルギー100％出資会社です。ショッピングモールの集客や価格も魅力の一つですが、常にお客様に満足していただくために「すべてはお客様のため～All　For　The　Customer～」を合言葉に日々お客様と向き合っています。これまでのガソリンスタンドのイメージを覆すために、一緒に働いてみませんか？</p>
    <img src="../J-Quest/images/bl.gif" alt="" height="30" class="clear" />
    <img src="../J-Quest/images/bl.gif" alt="" height="10" class="clear" />
    <h3>ジェイ・クエストの価値観</h3>
    <p>ジェイ・クエストはセルフガソリンスタンドではありますが、「お客様へのおもてなし」を大切にしています。ミッションをもとにお客様の立場になって考えて、行動することで、初めてお客様の支持を受けられます。</p>
    <ul class="list">
        <li>人と接することが何より大好き</li>
        <li>人の喜びが私の喜び</li>
        <li>チームで企画し、実行したい！</li>
        <li>指示を受けてやる仕事はつまらない</li>
    </ul>
    <p>こういう感性をお持ちであれば、ジェイ・クエストで活躍できます！</p>
    <img src="../J-Quest/images/bl.gif" alt="" height="40" class="clear" />
    <h3>J-Quest　Mission　Statement</h3>
    <p>ジェイ・クエストは企業理念のことを「ミッションステートメント」と呼んでいます。このミッションに基づいて、すべてのスタッフがお客様満足の追求のため日々全力を尽くしています。また、このミッションを達成するための「行動規範」を設けています。</p>
    <h4>J-Quest　Mission　Statement</h4>
    <p>我々のミッションは、お客様のために、モール併設型セルフサービスで、燃料・Carwash・Shop商品を&#9312;安全かつ快適な店舗で　&#9313;卓越したカスタマーサービス
        <br />にて提供することにより、お客様に満足を与え続けるチェーンになることである。　創造力とたえまない業務革新が、我々の成功の鍵である。これを実現するための最も重要な資産は人材である。安定的かつ継続的に利益をあげていくことは我々のゴールではないが我々の使命を達成するためには必要かつ不可欠なことである。</p>
    <h4>行動規範</h4>
    <ol>
        <li>（地域において）良き社会人であること</li>
        <li>（我々がフォーカスする）お客様を優先し、お客様のために最善を尽くすこと</li>
        <li>そのために、自立的な判断と自律的な行動ができること</li>
        <li>常に仕事・業務を改善していく努力を惜しまないこと</li>
        <li>そのために、違いを認め敬意をもってスタッフ同士が学びあえること</li>
    </ol>
    <div class="hidden-xs">
        <img src="../J-Quest/images/bl.gif" alt="" height="40" class="clear" />
        <p>
            <center>↓クリックすると他の写真に変わります↓</center>
        </p>
        <img src="../J-Quest/images/bl.gif" alt="" height="10" class="clear" />
        <!--ギャラリー-->
        <iframe width="660" height="760" frameborder="0" scrolling="0" marginheight="0" marginwidth="0" title="給油からご精算までムービー" src="example-2.html"></iframe>
        <!--/ギャラリー-->
    </div>
    <p>
        <img src="../J-Quest/images/bl.gif" alt="" height="20" class="clear" />
    </p>
    <!--応募要項-->
    <h6><a name="r1" id="r1">ストアマネジャー候補（キャリア・第二新卒）正社員</a></h6>
    <table class="entry" summary="応募要項">
        <tbody>
            <tr>
                <td class="title">仕事内容</td>
                <td class="about">ストアマネジャー候補（店舗運営管理全般）
                    <ul>
                        <li>ご来店くださるお客様へのおもてなし</li>
                        <li>店舗スタッフの育成や労務管理</li>
                        <li>店舗周辺のマーケティング</li>
                        <li>販売戦略の企画立案・実行・検証</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="title">給与</td>
                <td class="about">18万円以上　※給与はあくまでも最低のものです。
                    <br />経験や能力により決定させていただきます。</td>
            </tr>
            <tr>
                <td class="title">時間</td>
                <td class="about">シフト制（交代勤務制）※実働8時間
                    <br />【シフト例】
                    <br />10：00～19：00　　5：30～14：30　　15：30～24：30
                    <br />※配属店舗によって勤務時間・営業時間は異なります。
                </td>
            </tr>
            <tr>
                <td class="title">休日休暇</td>
                <td class="about">4週8休（シフト制）。
                    <br />有給休暇、慶弔休暇、夏季休暇、産前産後休暇等</td>
            </tr>
            <tr>
                <td class="title">待遇</td>
                <td class="about">給与改定年2回／賞与年2回
                    <br />交通費支給（当社規定内）
                    <br />退職金制度
                    <br />資格取得制度
                    <br />各種社会保険完備（厚生年金・健康保険・雇用保険・労災保険）
                    <br />※ＪＸグループ健保の福利厚生施設が可能</td>
            </tr>
            <tr>
                <td class="title">勤務地</td>
                <td class="about">全国のJ-Quest各店舗</td>
            </tr>
            <tr>
                <td class="title">応募資格</td>
                <td class="about">全国転勤可能な方
                    <br />普通自動車免許をお持ちの方
                    <br />35歳までの方（省令3号のイ）
                    <br />※危険物取扱免許（乙4）お持ちの方歓迎します。</td>
            </tr>
        </tbody>
    </table>
    <div align="center">
        <p class="btn-danger btn">
            <a href="#"  onClick="hbs.change('recruit/recruit-form')">
            応募フォーム</a></p>
    </div>
    <h6><a name="r3" id="r3">新卒採用</a></h6>
    <p>2016年度新卒採用
        <br />
    </p>
    <div align="center">
        <a href="https://job.rikunabi.com/2016/company/top/r421110079/" target="new">
            <img src="../J-Quest/images/recnavi2016.jpg" width="200" height="60" border="0">
        </a>
        <br>
        <a href="https://job.rikunabi.com/2016/company/top/r421110079/" target="new">
リクナビの弊社画面へ
</a>
    </div>
    <img src="../J-Quest/images/bl.gif" alt="" height="80" class="clear" />
    <div align="center"></div>
</div>
