<!-- パートタイマースタッフ募集 -->
<div class="recruit">
    <p><a href="#" onClick="hbs.change('recruit')">採用情報トップ</a>＞パートタイマースタッフ募集</p>
    <h2>採用情報</h2>
    <h3>パートタイマースタッフ募集</h3>
    <p>ジェイ・クエストは、「ショッピングモール併設型セルフガソリンスタンド」を運営しているJX日鉱日石エネルギー100％出資会社です。ショッピングモールの集客や価格も魅力の一つですが、常にお客様に満足していただくために「すべてはお客様のため～All　For　The　Customer～」を合言葉に日々お客様と向き合っています。これまでのガソリンスタンドのイメージを覆すために、一緒に働いてみませんか？</p>
    <img src="../j-quest/images/bl.gif" alt="" height="30" class="clear" />
    <img src="../j-quest/images/pts_img2.jpg" width="100%" height="auto" alt="あなたしかできないサービスを地区に一番のサービスに" /><img src="../j-quest/images/bl.gif" alt="" height="30" class="clear" />
    <div class="row visible-xs">
        <div class="col-xs-6"><a class="btn btn-block btn-success"href="#" onClick="hbs.change('recruit/recruit-work')">どんな仕事なの？</a></div>
        <div class="col-xs-6"><a class="btn btn-block btn-success"href="#" onClick="hbs.change('recruit/recruit-merit')">JQで働くメリット</a></div>
        <div class="col-xs-6"><a class="btn btn-block btn-primary"href="#" onClick="hbs.change('recruit/recruit-oshiete')">教えてJQ</a></div>
        <div class="col-xs-6"><a class="btn btn-block btn-warning"href="#" onClick="hbs.change('recruit/recruit-voice')">VOICE</a></div>
        <div class="col-xs-6"><a class="btn btn-block btn-primary"href="#" onClick="hbs.change('recruit/recruit-pts')">仕事内容</a></div>
        <div class="col-xs-6"><a class="btn btn-block btn-danger"href="#" onClick="hbs.change('recruit/recruit-form')">応募フォーム</a></div>
    </div>
    <div class="hidden-xs">
        <img name="corkboard" src="../j-quest/recruit/images/arbeit/corkboard.gif" height="469" border="0" id="corkboard" usemap="#m_corkboard" alt="" />
        <map name="m_corkboard" id="m_corkboard">
            <area shape="poly" coords="495,241,495,266,595,261,591,235" href="recruitment_pts.html" title="仕事内容" alt="仕事内容" />
            <area shape="poly" coords="487,334,593,331,593,384,489,384,487,334" href="https://www.j-quest.jp/recruit/recruiting_form.html" alt="応募フォーム" />
            <area shape="poly" coords="300,307,306,366,437,348,428,289" href="recruitment_voice.html" title="VOICE" alt="VOICE" />
            <area shape="poly" coords="344,95,354,166,530,148,519,77" href="recruitment_merit.html" title="JQで働くメリット" alt="JQで働くメリット" />
            <area shape="poly" coords="118,105,128,158,312,139,306,87" href="recruitment_work.html" title="どんな仕事なの？" alt="どんな仕事なの？" />
            <area shape="poly" coords="61,291,70,373,206,361,197,276" href="recruitment_oshiete.html" title="教えてJQ" alt="教えてJQ" />
        </map>
    </div>
    <img src="../j-quest/images/bl.gif" alt="" height="40" class="clear" />
</div>
