.side-nav {
    @iterations: 10;
    @navName1: "home";
    @navName2: "concept";
    @navName3: "service";
    @navName4: "howto";
    @navName5: "shop";
    @navName6: "campaign";
    @navName7: "recruit";
    @navName8: "faq";
    @navName9: "about";
    @navName10: "contact";

    // Loop
    .loop_out (@i) when (@i > 0) {
        li:nth-child(@{i}) a {
            width: 200px;
            height: 40px;
            background-image: url('../images/b_@{navName@{i}}_out.png');
        }
        .loop_out(@i - 1);
    }
    .loop_out(@iterations);
    // Loop end
    // Loop
    .loop_over (@i) when (@i > 0) {
        li:nth-child(@{i}) a.active {
            background-image: url('../images/b_@{navName@{i}}_over.png');
        }
        .loop_over(@i - 1);
    }
    .loop_over(@iterations);
    // Loop end
}
