<div class="inner15 about">
    <h2>企業情報</h2>
    <h3>株式会社ジェイ・クエスト</h3>
    <table class="company" summary="会社概要">
        <tbody>
            <tr>
                <td class="title">1.本社所在地</td>
                <td class="about">東京都中央区日本橋富沢町 11-1　富沢町111ビル1階</td>
            </tr>
            <tr>
                <td class="title">2.設立</td>
                <td class="about">2002/8/1</td>
            </tr>
            <tr>
                <td class="title">3.資本金</td>
                <td class="about">2000万円</td>
            </tr>
            <tr>
                <td class="title">4.株主</td>
                <td class="about">ＪＸ日鉱日石エネルギー株式会社　100％</td>
            </tr>
            <tr>
                <td class="title">5.事業内容</td>
                <td class="about">1)石油製品の販売　2)コンビニエンスストアー運営</td>
            </tr>
            <tr>
                <td class="title">6.従業員数</td>
                <td class="about">1074名（男521　女553）※パート含</td>
            </tr>
            <tr>
                <td class="title">7.平均年齢</td>
                <td class="about">31.9才</td>
            </tr>
            <tr>
                <td class="title">8.店舗数</td>
                <td class="about">81（2015年1月現在）</td>
            </tr>
            <tr>
                <td class="title">9.事業所</td>
                <td class="about">北海道・宮城・東京・埼玉・群馬・栃木・茨城・千葉・新潟・富山・長野・静岡・愛知・岐阜・三重・滋賀・京都・兵庫</td>
            </tr>
            <tr>
                <td class="title">10.業績</td>
                <td class="about">売上高815億円（2013年度実績）</td>
            </tr>
        </tbody>
    </table>
    <img src="images/bl.gif" alt="" width="636" height="10" class="clear" />
    <div class="about_l">
        <img src="images/jquest_inside.jpg" alt="ジェイクエスト" class="pic" />
        <img src="images/jquest_outside.jpg" alt="ジェイクエスト" class="pic" />
    </div>
    <div class="about_r">
        <iframe width="410" height="340" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.jp/maps?f=q&amp;source=s_q&amp;hl=ja&amp;geocode=&amp;q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E4%B8%AD%E5%A4%AE%E5%8C%BA%E6%97%A5%E6%9C%AC%E6%A9%8B%E5%AF%8C%E6%B2%A2%E7%94%BA+11-1&amp;aq=&amp;sll=6.664608,170.507813&amp;sspn=110.083989,217.441406&amp;brcurrent=3,0x601889525968245f:0x683becef6c3ab1e9,0,0x601889525e2b2f11:0x27c78862cf031e4e&amp;ie=UTF8&amp;hq=&amp;hnear=%E6%9D%B1%E4%BA%AC%E9%83%BD%E4%B8%AD%E5%A4%AE%E5%8C%BA%E6%97%A5%E6%9C%AC%E6%A9%8B%E5%AF%8C%E6%B2%A2%E7%94%BA%EF%BC%91%EF%BC%91%E2%88%92%EF%BC%91&amp;t=m&amp;ll=35.689579,139.781456&amp;spn=0.024399,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
        <br /><small><a href="http://maps.google.co.jp/maps?f=q&amp;source=embed&amp;hl=ja&amp;geocode=&amp;q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E4%B8%AD%E5%A4%AE%E5%8C%BA%E6%97%A5%E6%9C%AC%E6%A9%8B%E5%AF%8C%E6%B2%A2%E7%94%BA+11-1&amp;aq=&amp;sll=6.664608,170.507813&amp;sspn=110.083989,217.441406&amp;brcurrent=3,0x601889525968245f:0x683becef6c3ab1e9,0,0x601889525e2b2f11:0x27c78862cf031e4e&amp;ie=UTF8&amp;hq=&amp;hnear=%E6%9D%B1%E4%BA%AC%E9%83%BD%E4%B8%AD%E5%A4%AE%E5%8C%BA%E6%97%A5%E6%9C%AC%E6%A9%8B%E5%AF%8C%E6%B2%A2%E7%94%BA%EF%BC%91%EF%BC%91%E2%88%92%EF%BC%91&amp;t=m&amp;ll=35.689579,139.781456&amp;spn=0.024399,0.036478&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">大きな地図で見る</a></small>
    </div>
    <img src="images/bl.gif" alt="" width="636" height="10" class="clear" />
</div>
