<div class="inner15 campaign">
    <h2>キャンペーン情報</h2>
    <!--1記事-->
    <h3>2015.3.20　【氷上店】　週末イベント開催！</h3>
    <p class="campaign">
        ■　イベント実施日：2015年3月21日（土）～4月5日（日）
        <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;毎週土・日は、ガソリン・軽油10L以上給油でBOXティッシュ1箱
        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;さらに　Tポイント2倍！
        <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;詳しくはこちらをご覧ください→チラシPDFを開く
        <a href="images/pdf/leaflet_hikami_150321-1.pdf">（１）</a>　<a href="images/pdf/leaflet_hikami_150321-2.pdf">（２）</a>。
        <br />
        <img src="images/bl.gif" alt="" width="618" height="20" class="clear" />
        <!--1記事-->
        <!--1記事-->
        <h3>2015.3.13　【酒々井店】　週末イベント開催！</h3>
        <p class="campaign">
            ■　毎週土・日はガソリン軽油10Ｌ以上給油で、ＢＯＸティッシュ1箱プレゼント
            <br /> ■　イベント実施日：2015年3月14（土）～3月31日(火)
            <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期間中、ドライブスルー洗車キャンペーンを実施！！
            <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;・ツヤ出しはっ水洗車：通常価格1,200円→500円
            <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;・はっ水洗車：通常価格1,000円→500円
            <br />
            <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;詳しくはこちらをご覧ください→チラシPDFを開く
            <a href="images/pdf/leaflet_shisui_150313-1.pdf">（１）</a>　<a href="images/pdf/leaflet_shisui_150313-2.pdf">（２）</a>。
            <br />
            <img src="images/bl.gif" alt="" width="618" height="20" class="clear" />
            <!--1記事-->
            <!--1記事-->
            <h3>2015.3.6　【宮子カインズ前店】　春のカーコーティングフェア開催！</h3>
            <p class="campaign">
                ■　イベント実施日：2015年3月7日（土）～
                <br /> &nbsp;&nbsp;&nbsp;&nbsp;毎月25日までに翌月のご予約いただくと、施工20％OFF！！
                <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;詳しくはこちらをご覧ください→
                <a href="images/pdf/leaflet_miyako_c_150306.pdf">チラシPDFを開く</a></a>。
                <br />
                <img src="images/bl.gif" alt="" width="618" height="20" class="clear" />
                <!--1記事-->
                <!--1記事-->
                <h3>2015.3.6　【大泉店】　「お客様感謝デー！！」</h3>
                <p class="campaign">
                    ■　イベント実施日：2015年3月7（土）～3月31日(火)
                    <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期間中、新型洗車機導入キャンペーンを実施！！
                    <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;・はっ水洗車：通常価格800円→500円
                    <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;・輝きはっ水洗車：通常価格1,100円→700円
                    <br />
                    <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;詳しくはこちらをご覧ください→
                    <a href="images/pdf/leaflet_ooizumi_150306.pdf">チラシPDFを開く</a></a>。
                    <br />
                    <img src="images/bl.gif" alt="" width="618" height="20" class="clear" />
                    <!--1記事--
         <!--1記事-->
                    <h3>2015.2.27　【豊科店】　春のカーコーティングフェア開催！</h3>
                    <p class="campaign">
                        ■　イベント実施日：2015年3月1日（土）～4月30日（木）
                        <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期間中のご予約で通常価格から10％ＯＦＦ。
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;さらに、毎月25日までに翌月のご予約いただくと、施工20％OFF！！
                        <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;詳しくはこちらをご覧ください→
                        <a href="images/pdf/leaflet_toyoshina_150227.pdf">チラシPDFを開く</a></a>。
                        <br />
                        <img src="images/bl.gif" alt="" width="618" height="20" class="clear" />
                        <!--1記事-->
                        <!--1記事-->
                        <h3>2015.2.27　【高崎新保店】　週末イベント開催！！</h3>
                        <p class="campaign">
                            ■　2015年3月21日(土)、22日（日）、28日（土）、29日（日）限定！！
                            <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ガソリン軽油10Ｌ以上給油で、ＢＯＸティッシュ3箱プレゼント。
                            <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;さらに、フレッセイポイントもしくはTポイント2倍 !!
                            <br /> ■　イベント実施日：2015年2月28日(土)～4月30日（木）
                            <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;毎週土日は、ガソリン軽油10Ｌ以上給油で、ＢＯＸティッシュ1箱プレゼント。
                            <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;さらに、フレッセイポイントもしくはTポイント2倍
                            <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;詳しくはこちらをご覧ください→チラシPDFを開く
                            <a href="images/pdf/leaflet_shinbo_150321-1.pdf">（１）</a>　<a href="images/pdf/leaflet_shinbo_150321-2.pdf">（２）</a>。
                            <br />
                            <br />
                            <strong>【コーティング高崎新保のフリーダイヤル記載内容の訂正とお詫び】</strong>
                            <br />
                            <span class="campaign">2015年2月28日　及び、3月21日（※予定）の新聞折込チラシに於きまして、掲載内容に誤りがございました。
皆様にご迷惑をお掛けしましたことをお詫びするとともに、下記のとおり訂正させていただきます。</span>
                            <br /> ≪訂正箇所≫ご予約/お問い合わせフリーダイヤル
                            <br />
                            <br /> 誤）0800-800-3398
                            <br /> 正）
                            <strong>0800-800-0762</strong>
                            <br /> 尚、誤った電話番号は弊社酒々井店（千葉県）へ繋がりますので、
                            <br /> 改めて担当者よりご連絡させていただきます。
                            <img src="images/bl.gif" alt="" width="618" height="20" class="clear" />
                            <!--1記事-->
                            <!--1記事-->
                            <h3>2015.2.27　【酒々井店】　コーティングキャンペーン！　</h3>
                            <p class="campaign">
                                ■　期間：2015年2月28（土）～3月15日(日)
                                <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期間中の施工で通常価格から30％ＯＦＦ！！
                                <br /> ■　期間：2015年3月16（月）～3月31日(火)
                                <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期間中の施工で通常価格から20％ＯＦＦ！
                                <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;詳しくはこちらをご覧ください→
                                <a href="images/pdf/leaflet_shisui_150227.pdf">チラシPDFを開く</a>。
                                <br />
                                <img src="images/bl.gif" alt="" width="618" height="20" class="clear" />
                                <!--1記事-->
                                <!--1記事-->
                                <h3>2015.2.27　【浜松都田店】　宝くじプレゼント開催！</h3>
                                <p class="campaign">
                                    ■　イベント実施日：2015年2月28日（土）～3月31日（火）
                                    <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;毎週金・土・日は、ガソリン・軽油10L以上給油でBOXティッシュ1箱
                                    <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;またはトイレットロール1ロールプレゼント
                                    <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;さらに　イベント期間中毎日！ガソリン・軽油20L以上給油で豪華景品が抽選で当たる
                                    <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;「宝くじ」プレゼント
                                    <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;詳しくはこちらをご覧ください→
                                    <a href="images/pdf/leaflet_miyakoda_150321.pdf">チラシPDFを開く</a>。
                                    <br />&nbsp;&nbsp;&nbsp;&nbsp;※なお、浜松雄踏店でも宝くじのみ共同開催中！
                                    <br />
                                    <img src="images/bl.gif" alt="" width="618" height="20" class="clear" />
                                    <!--1記事-->
                                    <!--1記事-->
                                    <h3>2015.2.27　【長野稲田店】　週末イベント開催！！</h3>
                                    <p class="campaign">
                                        ■　イベント実施日：2015年2月28日(土)～3月31日(火)
                                        <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;毎週土日は、ガソリン軽油10Ｌ以上給油でＢＯＸティッシュ1箱プレゼント。
                                        <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;さらに、Ｔポイント3倍。
                                        <br /> ■　 2015年3月21（土・祝）、3月22日(日)限定！！
                                        <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ガソリン軽油10Ｌ以上給油で上記特典に加え、トイレットペーパー4ロールもプレゼント♪
                                        <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;詳しくはこちらをご覧ください→チラシPDFを開く
                                        <a href="images/pdf/leaflet_inada_150321-1.pdf">（１）</a>　<a href="images/pdf/leaflet_inada_150321-2.pdf">（２）</a>。
                                        <br />
                                        <img src="images/bl.gif" alt="" width="618" height="20" class="clear" />
                                        <!--1記事-->
                                        <!--1記事-->
                                        <h3>2015.2.27　【町田店】　お客様感謝祭♪</h3>
                                        <p class="campaign">
                                            ■　イベント実施日：2015年2月28日(土)、3月1日(日)、7日(土)、8日(日)
                                            <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期間中ガソリン軽油15Ｌ以上給油で、ＢＯＸティッシュ5箱プレゼント！！
                                            <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;さらに、お連れのお子様へお菓子プレゼント♪
                                            <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;また、期間中7：00～9：00にご利用頂いたお客様へダイドー缶コーヒープレゼント！
                                            <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;詳しくはこちらをご覧ください→
                                            <a href="images/pdf/leaflet_machida_150227.pdf">チラシPDFを開く</a>。
                                            <br />
                                            <img src="images/bl.gif" alt="" width="618" height="20" class="clear" />
                                            <!--1記事-->
                                            <!--1記事-->
                                            <h3>2015.2.27　【名取店】　週末イベント開催！！</h3>
                                            <p class="campaign">
                                                ■　イベント実施日：2015年3月2（月）～3月31日(火)
                                                <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;毎週土・日はガソリン軽油10Ｌ以上給油で、ＢＯＸティッシュ1箱プレゼント
                                                <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;さらに　Tポイント3倍！
                                                <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;詳しくはこちらをご覧ください→
                                                <a href="images/pdf/leaflet_natori_150227.pdf">チラシPDFを開く</a>。
                                                <br />
                                                <img src="images/bl.gif" alt="" width="618" height="20" class="clear" />
                                                <!--1記事-->
                                                <!--1記事-->
                                                <h3>2015.2.27　【仙台富谷店】　週末イベント開催！！</h3>
                                                <p class="campaign">
                                                    ■　イベント実施日：2015年3月2（月）～3月31日(火)
                                                    <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 毎週土・日はガソリン軽油10Ｌ以上給油で、ＢＯＸティッシュ1箱プレゼント　さらに　Tポイント3倍！
                                                    <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;詳しくはこちらをご覧ください→
                                                    <a href="images/pdf/leaflet_tomiya_150227.pdf">チラシPDFを開く</a>。
                                                    <br />
                                                    <img src="images/bl.gif" alt="" width="618" height="20" class="clear" />
                                                    <!--1記事-->
                                                    <!--1記事-->
                                                    <h3>2015.2.20　【～2015年3月】Tポイントお得情報</h3>
                                                    <p class="campaign">
                                                        ■　こちらの店舗ではTポイントが通常より貯まるお得なキャンペーンを実施しています。
                                                        <br />
                                                        <img src="images/t-point_campaign_table.gif" alt="Tポイントキャンペーン" width="614" height="1600" align="right" />
                                                        <br />
                                                        <img src="images/bl.gif" alt="" width="618" height="20" class="clear" />
                                                        <!--1記事-->
                                                        <!--1記事-->
                                                        <img src="images/bl.gif" alt="" width="618" height="10" class="clear" />
</div>
