<div class="inner15 concept">
    <h2>J-Questのミッション（使命）ポリシー</h2>
    <h3>私たちの使命は、お客様にとって無くてはならない存在になることです</h3>
    <p class="title">-OUR MISSION IS TO BE "IRREPLACEABLE" TO OUR CUSTOMERS-</p>
    <p class="box1">J-Questは創業以来、私たちのサービスを通じて、お客様に高い満足を感じていただき『なくてはならない存在』となることを使命としています。私たちの使命の判定役はまぎれもなくお客様です。そのお客様にとってかけがえのない存在となるために、J-Questは常にお客様を中心に置いて経営します。</p>
    <img src="images/bl.gif" alt="" width="618" height="40" class="clear" />
    <h2>J-Questのポリシー</h2>
    <h3>お客様から期待された以上の価値を提供することを探求（=Quest）します</h3>
    <p>私たちのお店でお客様が、今まで他のガソリンスタンドでは体験したことがないような満足感*思っていた以上の価値を感じる体験をしていただけるよう、お客様が滞在する間の居心地の良さを提供して参ります。</p>
    <img src="images/bl.gif" alt="" width="618" height="10" class="clear" />
    <h4>そのために大切にしている方針</h4>
    <ul>
        <li>常にお客様の声に耳を傾けます</li>
        <li>既存のカタチにとらわれずに、お客様の利便性と居心地を追求した独自のお店づくりとサービスを提供します</li>
        <li>お客様と接する全てのスタッフは、お客様の立場に立った対応をします</li>
        <li>お客様の安全については、言うまでもなく当然のサービスとして配慮を怠りません</li>
    </ul>
</div>
