<div class="inner15 faq">
    <h2>Q &amp; A</h2>
    <!--質問-->
    <h3>&#9312;自分で給油したことないので不安なのですが？</h3>
    <p>たった6つのプロセスなのでとても簡単です。手順は次の通り。操作がご不安なお客様はスタッフがていねいにご案内いたしますのでご安心ください。</p>
    <h4>1.静電気除去シートにタッチする</h4>
    <p>　　必ず最初に静電気除去シートに触りましょう。
        <br />　　お体の静電気がこれでなくなりますよ。事故防止のためにもご協力お願いします。</p>
    <h4>2.油種を選ぶ</h4>
    <p>　　レギュラー？ハイオク？軽油？ボタンを選んでくださいね。</p>
    <h4>3.給油量を決める</h4>
    <p>　　10L、20L・・お好みの量のボタンを押してくださいね。
        <br />　　そのほか、「満タン」「金額指定」などもできますよ。</p>
    <h4>4.給油する</h4>
    <p>　　車の給油口のキャップを開け、ノズルを奥まで差し込んで、レバーを引きます。
        <br />　　給油は自動的に止まるからご心配なく！</p>
    <h4>5.キャップを閉める</h4>
    <p>　　給油が自動的に止まったらノズルを戻し、キャップをきっちり閉めます。</p>
    <h4>6.店内で精算する</h4>
    <p>　　車はそのままで、ショップまでお越しください。
        <br /> 　　店内のレジカウンターで給油された場所の番号を伝えて精算します。
        <br /> 　　ありがとうございました！
    </p>
    <p align="center" class="sp_tb"><a href="howtos.html#kyuuyu">→　給油操作手順</a></p>
    <!--/質問-->
    <!--質問-->
    <h3>&#9313;J-Questはどんなガソリンスタンドなのですか？</h3>
    <p>ホームセンターやショッピングモールに併設して立地している、セルフサービスのガソリンスタンド＆ショップが一体となったお店です。
        <br />お買いもののついでにガソリンも、ドライブスルー洗車もそしてドライブのお供にお菓子やジュースなどを販売しております。</p>
    <!--/質問-->
    <!--質問-->
    <h3>&#9314;従来のセルフガソリンスタンドとの違いは？</h3>
    <p>大きな違いは2つ。
        <br /> １つはショップが併設されていること。バラエティ豊かな商品を揃えた清潔なお店で、スタッフがお待ちしています。（もちろん、トイレもとってもキレイ。ぜひご利用くださいね。）
    </p>
    <p align="center" class="sp_tb"><a href="services.html">→　商品・サービス</a></p>
    <p>もう１つは、料金のお支払い方法。従来の「給油した後、その場で精算する」のではなく、お車は給油場所のところに置いたまま、ショップでの精算をしていただくことです。
        <br />無機質でわずらわしい機械操作もなく、幅広い年代のお客様にご好評いただいております。</p>
    <p align="center" class="sp_tb"><a href="howtos.html#kyuuyu">→　給油操作手順</a></p>
    <!--/質問-->
    <!--質問-->
    <h3>&#9315;モールでお買い物している間に洗車、整備、車検はお願いできるのでしょうか？</h3>
    <p>併設しているのは、セルフサービススタイルの洗車機とショップです。
        <br />洗車も自由なセルフサービスのため、お客様ご自身で行っていただきます。
        <br />「お客様ご自身のペースで、給油・洗車・お買い物を楽しんでいただく」のが、J-Questスタイルです。
        <br />J-Questは自動車の整備は行っていません。ゆえに、不必要なセールスもいたしません。</p>
    <!--/質問-->
    <!--質問-->
    <h3>&#9316;クレジットカードでの支払いはできますか？</h3>
    <p>もちろんお取扱いいたしております。また、J-Questでは「エネオスカード」の発行も致しております。
        <br /> 特にお勧めなのが「エネオスカードS」。いつでも、どこでもガソリン2円引き（請求時）なのがとっても嬉しいカードなんです。
        <br />それ以外にも無料ロードサービスも付いていてドライブのお守り代わりにも最適なカードです。
        <br />ご興味のある方はスタッフまでお申し付けください。ていねいにご案内いたしますよ♪</p>
    <!--/質問-->
    <!--質問-->
    <h3>&#9317;ドライブスルー洗車ってきれいに洗えるの？</h3>
    <p>これまでの洗車機と違い、大幅に仕上がりはよくなっております。
        <br />お客様のお車に装着されている装備品によってはその周辺に若干の洗い残りが出る場合があります。
        <br />洗車入口にお客様が自由にお使いいただける「洗車事前洗いグッズ」もご用意しておりますので、どうぞご活用ください。</p>
    <p align="center" class="sp_tb"><a href="howtos.html#sensha">→　洗車手順</a></p>
    <!--/質問-->
    <!--質問-->
    <h3>&#9318;Suicaなどの電子マネーは使えるの？</h3>
    <p>申し訳ございません。スイカには現在のところ対応しておりません。
        <br />しかし、J-Quest全店で「クイックペイ」がご利用いただけます。</p>
    <!--/質問-->
    <!--質問-->
    <h3>&#9319;Ｑｕｏカードやギフトカードは使えるの？</h3>
    <p>申し訳ございません。Ｑｕｏカード及びギフト券はご利用頂けません。
        <br />但し、セーブオン併設の佐波東店、佐久平店においてはベイシアグループ商品券のみご利用頂けます。</p>
    <!--/質問-->
    <!--質問-->
    <h3>&#9320;会員カードやクーポン券は全国どこのJ-Questでも使える？</h3>
    <p>会員カードについてはJ-Quest全店でご利用いただけます。
        <br />ただし、割引額や特典については店舗ごとに異なっておりますので、ご利用の店舗にご確認ください。
        <br />クーポン券は券面に記載されている店舗にてご利用いただけます。</p>
    <!--/質問-->
    <!--質問-->
    <h3>&#9321;たばこなどのショップ商品だけの購入も大丈夫ですか？</h3>
    <p>もちろん大丈夫です！給油や洗車のご利用がなくてもショップにお気軽にお越しください。
        <br />バラエティ豊かな商品でお客様のお越しをお待ちしております♪</p>
    <!--/質問-->
    <!--質問-->
    <h3>&#9322;T-Pointが貯まる・使えると聞いたのですが・・・。</h3>
    <p>Ｊ-Questでは一部店舗を除いてお会計時にT-Pointをお付けすることができます。 税抜200円につき1ポイント。たとえば給油3,000円（消費税8%込み）の場合、（3,000÷1.08）/200＝13.9≒13ポイント（端数切り捨て）お付けすることができます。
        <br /> ショップ商品についてもおタバコを除くすべての商品にお付けすることができますので給油のついでにぜひお買い求めくださいね。
        <br /> また、貯まったＴ-ＰＯＩＮＴは1ポイント1円としておタバコ購入以外にご利用頂けます。 是非、お手持ちのＴ-ＰＯＩＮＴをご利用ください。
        <br /> ※但し、個人情報が登録されていないＴカードはポイントを貯められますがポイントの利用はできません。
        <br /> なお、Tカードはお会計の際にご提示ください。
    </p>
    <br />
    <p class="s_bk">
        ※一部T-Pointが貯められない、使えないクレジットカードがございます。詳しくは店内の掲示物もしくはスタッフまでお問い合わせください。
        <br />
        <a href="images/pdf/tpoint_ng_card.pdf" target="_blank">T-Pointが貯められない・使えないカード一覧</a></p>
    <!--/質問-->
    <img src="images/bl.gif" alt="" width="618" height="10" class="clear" />
</div>
