<div id="footer-nav" class="hidden-xs">
    <div class="pull-left"><img class="logo-enenos" src="images/eneos65.jpg" alt="エネオス" /></div>
    <div class="nav">
        <ul>
            <li><a href="index.html">トップページ</a></li>
            <li><a href="concepts.html">J-Questの使命</a></li>
            <li><a href="services.html">商品・サービス</a></li>
            <li><a href="howtos.html">ご利用方法</a></li>
            <li><a href="shops.html">店舗情報</a></li>
            <li><a href="campaign.html">キャンペーン情報</a></li>
            <li><a href="recruitment.html">採用情報</a></li>
            <li><a href="faq.html">よくある質問</a></li>
        </ul>
        <ul>
            <li><a href="aboutus.html">企業情報</a></li>
            <li><a href="https://www.J-Quest.jp/contact/contactus.html">お問合せ</a></li>
        </ul>
    </div>
</div>
<!--街並-->
<div id="town">&nbsp;</div>
<!--/街並-->
<!--footer-->
<div id="footer">
    <address class="copy">Copyrights &copy; 2012 J-Quest. All Rights Reserved.</address>
</div>
<!--/footer-->
