<div class="howto">
    <h2>ご利用方法</h2>
    <p>セルフ給油と洗車の方法をご説明します。下のスライドショーをご覧ください。</p>
    <img src="images/bl.gif" alt="" height="10" class="clear" />
    <h3><a name="kyuuyu" id="kyuuyu"></a>ご給油からご精算まで</h3>
    <!--スライダー-->
    <iframe width="650" height="530" frameborder="0" scrolling="0" marginheight="0" marginwidth="0" title="給油からご精算までムービー" src="howto/kyuyu.html"></iframe>
    <!--/スライダー-->
    <img src="images/bl.gif" alt="" height="10" class="clear" />
    <h3><a name="sensha" id="sensha"></a>洗車</h3>
    <!--スライダー-->
    <iframe width="650" height="530" frameborder="0" scrolling="0" marginheight="0" marginwidth="0" title="洗車ムービー" src="howto/sensha.html"></iframe>
    <!--/スライダー-->
    <img src="images/bl.gif" alt="" height="10" class="clear" />
</div>
