<div id="J-Quest-Navbar" class="navbar navbar-default navbar-fixed-top visible-sm visible-xs" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html"><img height="330%" src="images/logo.png"></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="index.html">トップページ</a></li>
                <li><a href="#" onClick="hbs.change('concept')">企業コンセプト</a>
                </li>
                <li><a href="#" onClick="hbs.change('service')">商品・サービス</a>
                </li>
                <li><a href="#" onClick="hbs.change('howto')">ご利用方法</a>
                </li>
                <li><a href="#" onClick="hbs.change('shop')">店舗情報</a>
                </li>
                <li><a href="#" onClick="hbs.change('campaign')">キャンペーン情報</a>
                </li>
                <li><a href="#" onClick="hbs.change('recruit')">採用情報</a>
                </li>
                <li><a href="#" onClick="hbs.change('faq')">よくある質問</a>
                </li>
                <li><a href="#" onClick="hbs.change('about')">企業概要</a>
                </li>
                <li><a href="#" onClick="hbs.change('contact')">お問合せ</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
$('.collapse').on('click', function() {
    var that = $(this);
    setTimeout(function() {
        that.collapse('hide');
    }, 200)
})
$('.navbar-header').on('click', function() {
    $('html, body').animate({
        scrollTop: 0
    }, 500);
})
</script>
