<div class="about">
    <h2>プライバシーポリシー(個人情報保護方針)</h2> 当社は、高度情報通信社会における個人情報保護の重要性を認識し、以下の方針に基づき個人情報の保護に努めます。
    <br />
    <img src="images/bl.gif" alt="" height="10" class="clear" />
    <h3>１．個人情報の取得について</h3> 当社は、適法かつ公正な手段によって、個人情報を取得致します。
    <img src="images/bl.gif" alt="" height="10" class="clear" />
    <h3>２．個人情報の利用について </h3> 当社は、個人情報を、取得の際に示した利用目的の範囲内で、業務の遂行上必要な限りにおいて、利用します。
    <br /> 当社は、個人情報を第三者との間で共同利用し、または、個人情報の取扱いを第三者に委託する場合には当該第三者につき厳正な調査を行ったうえ、秘密を保持させるために、適正な監督を行います。
    <img src="images/bl.gif" alt="" height="10" class="clear" />
    <h3>３．個人情報の第三者の提供について</h3> 当社は、法令に定める場合を除き、個人情報を、事前に本人の同意を得ることなく、第三者に提供しません。
    <img src="images/bl.gif" alt="" height="10" class="clear" />
    <h3>４．個人情報の管理について </h3> 当社は、個人情報の正確性を保ち、これを安全に管理致します。
    <br /> 当社は、個人情報の紛失、破壊、改ざん及び漏えいなどを防止するため、不正アクセス、コンピュータウイルス等に対する適正な情報セキュリティ対策を講じます。
    <br /> 当社は、個人情報を持ち出し、外部へ送信する等により漏えいさせません。
    <img src="images/bl.gif" alt="" height="10" class="clear" />
    <h3>５．個人情報の開示・訂正・利用停止・消去について</h3> 当社は、本人が自己の個人情報について、開示・訂正・利用停止・消去等を求める権利を有していることを確認し、これらの要求ある場合には、異議なく速やかに対応します。
    <br /> なお、当社の個人情報の取扱いにつきましてご意見、ご質問がございましたら、当社個人情報相談窓口（電話： 03-6855-4014）までご連絡下さいますようお願い申し上げます。
    <img src="images/bl.gif" alt="" height="10" class="clear" />
    <h3>６．組織・体制</h3> 当社は、個人情報保護管理者を任命し、個人情報の適正な管理を実施いたします。
    <br /> 当社は、従業員に対し、個人情報の保護及び適正な管理方法についての研修を実施し、日常業務における個人情報の適正な取扱いを徹底します。
    <img src="images/bl.gif" alt="" height="10" class="clear" />
    <h3>７．個人情報保護コンプライアンス・プログラムの策定・実施・維持・改善</h3> 当社は、この方針を実行するため、個人情報保護コンプライアンス・プログラム（本方針、『個人情報保護規則』及びその他の規則、規則を含む）を策定し、これを当社従業者その他関係者に周知徹底させて実施し、維持し、継続的に改善いたします。
    <img src="images/bl.gif" alt="" height="10" class="clear" />
    <span class="s_bk">適用日：2005年4月1日</span> <img src="images/bl.gif" alt="" height="10" class="clear" />
</div>
