<!-- 採用情報 -->
<div class="recruit">
    <script>
    Handlebars.registerHelper('breadcrumbs', function(options) {        
        return new Handlebars.SafeString(
        '<li><a href="#">採用情報トップ</a></li>' + "<li><span>&nbsp>&nbsp</span></li>" + '<li>採用情報トップ</li>');
    });
    </script>
    <ul class="breadcrumbs">
        {{#breadcrumbs}} {{breadcrumbs}} {{/breadcrumbs}}
    </ul>
    <div>{{> partial }}</div>
</div>
