<div class="inner15 recruit">
    <h2>採用情報</h2>
    <h3>すべてはお客様のために</h3>
    <p>ジェイ・クエストは、「ショッピングモール併設型セルフガソリンスタンド」を運営しているJX日鉱日石エネルギー100％出資会社です。ショッピングモールの集客や価格も魅力の一つですが、常にお客様に満足していただくために「すべてはお客様のため～All For The Customer～」を合言葉に日々お客様と向き合っています。これまでのガソリンスタンドのイメージを覆すために、一緒に働いてみませんか？</p>
    <img src="images/pts_img04.png" alt="スタッフ募集" class="pic" />
    <img src="images/bl.gif" alt="" width="618" height="20" class="clear" />
    <table width="100%" border="0" cellspacing="10">
        <tr>
            <td>
                <a href="recruit/recruitment_manager.html"><img src="recruit/images/arbeit/button_storemanager.png" width="285" height="81" alt="ストアマネジャー候補" /></a>
            </td>
            <td>
                <a href="recruit/recruitment_parttimer.html"><img src="recruit/images/arbeit/button_parttimer.png" width="285" height="81" alt="パートタイムスタッフ" /></a>
            </td>
        </tr>
    </table>
    <!--/ギャラリー-->
    <img src="images/bl.gif" alt="" width="618" height="10" class="clear" /><img src="images/bl.gif" alt="" width="618" height="40" class="clear" />
    <h6>新卒採用</h6>
    <p>2016年度も新卒採用を行います。
        <br /> 詳しくは「リクナビ2016採用情報ページ」をご覧ください。
    </p>
    <br />
    <div align="center">リクナビの弊社画面へ
        <br />
        <a href="https://job.rikunabi.com/2016/company/top/r421110079/" target="_blank"><img src="images/w160_entry4.gif" width="160" height="50" alt="リクナビ2016" /></a>
    </div>
    <img src="./images/bl.gif" alt="" width="618" height="80" class="clear" />
    <div align="center"></div>
    <!--/応募要項-->
</div>
