<div class="service">
    <h2>商品・サービス</h2>
    <p>ジェイ・クエストの主な商品・サービスのご紹介です。</p>
    <ul class="nav-sub">
        <li><a href="#s1">燃料</a></li>
        <li><a href="#s2">ドライブスルー洗車</a></li>
        <li><a href="#s3">SHOP（ショップ）</a></li>
        <li><a href="#s4">ENEOSカード</a></li>
        <li><a href="#s5">カーコーティング</a></li>
    </ul>
    <img src="images/bl.gif" alt="" height="40" class="clear" />
    <h3><a id="s1" name="s1">燃料</a></h3>
    <p>エンジンがきれいになる環境ハイオクENEOSヴィーゴ（※）や、高品質ENEOSブランドのレギュラーガソリン、軽油、灯油を毎日お求めやすい価格でご用意しています。
        <br />温室効果ガスの排出量削減効果が話題のバイオガソリン（※）の導入店舗も関東エリアを中心に順次拡大中！</p> <img src="images/bl.gif" alt="" height="10" class="clear" />
    <p>当社の店舗は全てセルフ方式。いつでも必要な分を必要なだけ、お気軽にお求めください。
        <br /> 簡単操作の給油システムに加え、全店にスタッフが常駐しているので「セルフ給油は初めて」というお客様にも安心してご利用いただけます。
    </p>
    <p align="center"><a href="#" onClick="hbs.change('howto#kyuuyu')">給油の手順はこちら</a></p>
    <img src="images/bl.gif" alt="" height="20" class="clear" />
    <!--pic-->
    <div class="row">
        <div class="col-sm-4"><img class="thumbnail" width="100%" src="images/2_1.jpg" alt="" /></div>
        <div class="col-sm-4"><img class="thumbnail" width="100%" src="images/2_2.jpg" alt="" /></div>
        <div class="col-sm-4"><img class="thumbnail" width="100%" src="images/2_3.jpg" alt="" /></div>
    </div>
    <!--/pic-->
    <img src="images/bl.gif" alt="" height="20" class="clear" />
    <div class="row">
        <div class="col-sm-4 text-center"><img src="images/banner_vigo_out.jpg" alt="ヴィーゴ" /></div>
        <p class="col-sm-8">※ENEOSヴィーゴ
            <br />新しい高性能洗浄剤を配合し、エンジンの吸気弁やインジェクターに溜まった汚れをきれいできるハイオクガソリン。詳しくは⇒<a href="http://www.noe.jx-group.co.jp/carlife/product/vigo/" target="_blank">こちら</a></p>
        <img src="images/bl.gif" alt="" height="10" class="clear" />
        <div class="col-sm-4 text-center"><img src="images/banner_biogus_out.jpg" alt="バイオガソリン" /></div>
        <p class="col-sm-8">※バイオガソリン
            <br />通常のガソリンとまったく同じように使用できるうえ、温室効果ガスの排出量削減も期待できる、未来型環境対応燃料。詳しくは⇒<a href="http://www.noe.jx-group.co.jp/carlife/product/biogasoline/" target="_blank">こちら</a></p>
    </div>
    <img src="images/bl.gif" alt="" height="40" class="clear" />
    <h3><a id="s2" name="s2">ドライブスルー洗車</a></h3>
    <p>ジェイ・クエスト全店では「早い・簡単・お手頃価格」な高性能ドライブスルー洗車機をご用意してお客様のご利用をお待ちしております。</p>
    <img src="images/bl.gif" alt="" height="10" class="clear" />
    <p>お手軽なシャンプー洗車、定番のワックス洗車、さらには高い &quot; 水弾き効果 ” を実現した、ジェイ・クエスト一押しのコーティング洗車など、お客様のニーズに合わせたバリエーション豊かな洗車メニュー。</p>
    <img src="images/bl.gif" alt="" height="10" class="clear" />
    <p>また、ディーラーコートなどをされていて、「洗車機はダメって言われているけど・・・」とお困りのお客様にも最適な「水洗い洗車」<span class="service_mini">（※一部店舗を除く）</span>で、お車のコーティングを傷めず楽々洗車♪
        <br /> そして、全店スポンジブラシを採用。お客様の愛車を優しく洗い上げます。
        <br />さらに、洗車後の仕上げに便利な貸出タオルも設置しておりますので、手ぶらで気軽に洗車できます♪</p> <img src="images/bl.gif" alt="" height="10" class="clear" />
    <p>洗車についてご不明な点、ご不安な点がございましたらお気軽に店舗スタッフまでお問い合わせください。</p>
    <div class="row">
        <div class="col-sm-12">
            <img src="images/2_4.jpg" width="100%" alt="エネオス給油" class="thumbnail" />
        </div>
    </div>
    <p align="center"><a href="#"  onClick="hbs.change('howto#sensha')">洗車の手順はこちら</a></p>
    <img src="images/bl.gif" alt="" height="40" class="clear" />
    <h3><a id="s3" name="s3">SHOP</a></h3>
    <p>お客様のドライブ・カーライフをより快適にサポートさせていただくショップを併設。種類豊富なドリンク・お菓子・たばこ等を取り揃え、給油ついでにお気軽にお買い求めいただけます。</p>
    <img src="images/bl.gif" alt="" height="20" class="clear" />
    <!--pic-->
    <div class="row">
        <div class="col-sm-4 text-center"><img width="100%" class="thumbnail" src="images/2_5.jpg" alt="" /></div>
        <div class="col-sm-4 text-center"><img width="100%" class="thumbnail" src="images/2_6.jpg" alt="" /></div>
        <div class="col-sm-4 text-center"><img width="100%" class="" src="images/2_7_9.jpg" alt="" /></div>
    </div>
    <!--/pic-->
    <img src="images/bl.gif" alt="" height="20" class="clear" />
    <div class="box1">
        <p>飲料/お菓子/たばこ/カー用品/その他雑貨・日用品<span class="s_bk">※店舗により取扱商品が異なります</span></p>
    </div>
    <img src="images/bl.gif" alt="" height="40" class="clear" />
    <h3><a id="s4" name="s4">エネオスカード</a></h3>
    <p>ガソリン入れるなら！ENEOSカードがだんぜんお得！おすすめは、人気NO.1「ENEOSカードS」
        <br />
    </p>
    <div class="center"><img src="images/eneoscard.jpg" alt="エネオスカード" /></div>
    <ul>
        <li>特典１：ガソリン・軽油　ご請求時さらに2円引き　※灯油は請求時さらに1円引き</li>
        <li>特典２：年1回のご利用で年会費無料</li>
        <li>特典３：365日24時間　ＥＮＥＯＳロードサービス付き　～ドライブのお守り代わり～</li>
        <li>特典４：ＪＯＭＯ・ＥＮＥＯＳ全国のサービスステーションで利用可能</li>
        <li>☆「クイックペイ」「ＥＴＣ」も無料で追加できます！</li>
    </ul>
    <img src="images/bl.gif" alt="" height="10" class="clear" />
    <div>
        <a href="http://www.noe.jx-group.co.jp/card_cps/" target="_blank"><img src="images/banner_eneoscard_out.jpg" width="200" height="60" alt="バナー" /></a>
    </div>
    <p class="banner_r">&nbsp;</p>
    <img src="images/bl.gif" alt="" height="30" class="clear" />
    <h3><a id="s5" name="s5">カーコーティング</a></h3>
    <p><b>【取扱店】</b>
        <br /> &nbsp;●&nbsp;
        <a href="http://www.keepercoating.jp/proshop/03874.html" target="_blank">豊科店（長野）</a>
        <br /> &nbsp;●&nbsp;
        <a href="http://www.keepercoating.jp/proshop/03911.html" target="_blank">宮子カインズ前店（群馬）</a>
        <br /> &nbsp;●
        <a href="http://www.keepercoating.jp/proshop/04254.html" target="_blank">&nbsp;酒々井店（千葉）</a>
        <br /> &nbsp;●
        <a href="http://www.keepercoating.jp/proshop/04699.html" target="_blank">&nbsp;高崎新保店（群馬）</a>
        <br />
        <br /> お客様の愛車を「まもる」カーコーティングを施工しております。
        <br /> もちろん日頃のメンテナンスは、当店自慢のドライブスルー洗車でOK。
        <br /> 愛車のボディ（塗装）を紫外線や黄砂などからまもり、キレイを保ち続けるコーティングをプロのスタッフが丁寧に施工いたします♪
        <br />
        <br /> ＊コーティング１級取得者施工
    </p>
    <img src="images/bl.gif" alt="" height="20" class="clear" />
    <!--pic-->
    <div class="row">
        <div class="col-sm-12">
            <img src="images/coating_work01.jpg" width="100%" height="auto" />
        </div>
        <div class="col-sm-12">
            <img src="images/coating_work02.jpg" width="100%" height="auto" alt="コーティング作業02" /><img src="images/bl.gif" alt="" height="20" class="clear" />
        </div>
    </div>
    <img src="images/bl.gif" alt="" height="40" class="clear" />
</div>
