<ul>
    <li>
        <a href="index.html"><img src="images/b_home_out.png" alt="トップページ" /></a>
    </li>
    <li>
        <a href="#" onClick="hbs.change('concept')"><img src="images/b_concept_over.png" alt="企業コンセプト" /></a>
    </li>
    <li>
        <a href="#" onClick="hbs.change('service')"><img src="images/b_service_out.png" alt="商品・サービス" /></a>
    </li>
    <li>
        <a href="#" onClick="hbs.change('howto')"><img src="images/b_howto_out.png" alt="ご利用方法" /></a>
    </li>
    <li>
        <a href="#" onClick="hbs.change('shop')"><img src="images/b_shop_out.png" alt="店舗情報" /></a>
    </li>
    <li>
        <a href="#" onClick="hbs.change('campaign')"><img src="images/b_campaign_out.png" alt="キャンペーン情報" /></a>
    </li>
    <li>
        <a href="#" onClick="hbs.change('recruit')"><img src="images/b_recruit_out.png" alt="採用情報" /></a>
    </li>
    <li>
        <a href="#" onClick="hbs.change('faq')"><img src="images/b_faq_out.png" alt="Q &amp; A" /></a>
    </li>
    <li>
        <a href="#" onClick="hbs.change('about')"><img src="images/b_about_out.png" alt="企業情報" /></a>
    </li>
    <li>
        <a href="#" onClick="hbs.change('contact')"><img src="images/b_contact_out.png" alt="お問合せ" /></a>
    </li>
</ul>
