<!--container-->
<div id="container">
    <div id="headline">&nbsp;</div>
    <h1>J-Quest｜全国に80店舗。ショッピングモール併設型セルフ方式ガソリンスタンドを運営しております。</h1>
    <!--header-->
    <div id="header">
        <a href="index.html"><img src="images/logo.png" alt="J-Quest" /></a>
    </div>
    <!--/header-->
    <!--cover-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="cover">
                    <img src="images/c_concept.jpg" alt="企業コンセプト" />
                </div>
            </div>
        </div>
    </div>
    <!--/cover-->
    <!--contents(900px)-->
    <div class="contents" class="container">
        <div class="row">
            <div class="col-md-3 hidden-sm hidden-xs">
                <!--side-->
                <div id="side"></div>
                <!--/side-->
            </div>
            <div class="col-md-9">
                <!--main-->
                <div id="main"></div>
                <!--/main-->
            </div>
        </div>
    </div>
    <!--/contents-->
    <!--footer-nav-->
    <div id="footer-nav">
        <div class="nav-left"><img src="images/eneos65.jpg" alt="エネオス" /></div>
        <p class="nav-right">｜<a href="index.html">トップページ</a>｜<a href="concepts.html">J-Questの使命</a>｜<a href="services.html">商品・サービス</a>｜<a href="howtos.html">ご利用方法</a>｜<a href="shops.html">店舗情報</a>｜<a href="campaign.html">キャンペーン情報</a>｜<a href="recruitment.html">採用情報</a>｜<a href="faq.html">よくある質問</a>｜
            <br />｜<a href="aboutus.html">企業情報</a>｜<a href="https://www.j-quest.jp/contact/contactus.html">お問合せ</a>｜</p>
    </div>
    <!--/footer-nav-->
    <!--街並-->
    <div id="town">&nbsp;</div>
    <!--/街並-->
    <!--footer-->
    <div id="footer">
        <address class="copy">Copyrights &copy; 2012 J-Quest. All Rights Reserved.</address>
    </div>
    <!--/footer-->
    <!--上へ戻るボタン-->
    <div id="return_top">
        <a href="#top">&nbsp;</a>
    </div>
    <!--/上へ戻るボタン-->
</div>
<!--/container-->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-29774849-1']);
_gaq.push(['_trackPageview']);

(function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
})();
</script>
