<!-- J-Questで働くメリットって？ -->
<div class="recruit">
    <p><a href="#" onClick="hbs.change('recruit')">採用情報トップ</a>＞<a href="#" onClick="hbs.change('recruit/recruit-parttimer')">パートタイマースタッフ募集</a>>J-Questで働くメリットって？</p>
    <h2>J-Questで働くメリットって？</h2>
    <br />
    <div class="nav-sub row">
        <div class="col-xs-12 col-sm-6">
            <a href="#x1"><img src="recruit/images/arbeit/merit01_out.png" alt="燃料割引" width="100%" height="auto" /></a>
        </div>
        <div class="col-xs-12 col-sm-6">
            <a href="#x2"><img src="recruit/images/arbeit/merit02_out.png" alt="未経験者でもOK" width="100%" height="auto" /></a>
        </div>
        <div class="col-xs-12 col-sm-6">
            <a href="#x3"><img src="recruit/images/arbeit/merit03_out.png" alt="資格取得補助" width="100%" height="auto" /></a>
        </div>
        <div class="col-xs-12 col-sm-6">
            <a href="#x4"><img src="recruit/images/arbeit/merit04_out.png" alt="ライフスタイルに合った" width="100%" height="auto" /></a>
        </div>
        <div class="col-xs-12 col-sm-6">
            <a href="#x5"><img src="recruit/images/arbeit/merit05_out.png" alt="時給アップ" width="100%" height="auto" /></a>
        </div>
        <div class="col-xs-12 col-sm-6">
            <a href="#x6"><img src="recruit/images/arbeit/merit06_out.png" alt="社会保険" width="100%" height="auto" /></a>
        </div>
        <div class="col-xs-12 col-sm-6">
            <a href="#x7"><img src="recruit/images/arbeit/merit07_out.png" alt="あなたも経営者？" width="100%" height="auto" /></a>
        </div>
        <div class="col-xs-12 col-sm-6">
            <a href="#x8"><img src="recruit/images/arbeit/merit08_out.png" alt="仲間がいっぱい" width="100%" height="auto" /></a>
        </div>
        <div class="col-xs-12 col-sm-6">
            <a href="#x9"><img src="recruit/images/arbeit/merit09_out.png" alt="仲間がいっぱい" width="100%" height="auto" /></a>
        </div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12" align="center"><img src="recruit/images/arbeit/down.gif" width="102" height="72" alt="下矢印" /></div>
        <div class="col-xs-12" align="center"><img src="recruit/images/arbeit/blackboard.jpg" width="100%" height="auto" alt="自分自身の成長" /></div>
    </div>
    <img src="images/bl.gif" alt="" height="10" class="clear" />
    <p><img src="images/bl.gif" alt="" height="40" class="clear" /> </p>
    </p>
    <p class="merit_title"><a name="x1" id="x1">楽しい仲間がいっぱい！</a></p>
    <p>とにかくJ-Questの店舗はチームワークがぴか一！
        <br /> 仕事だけでなく、プライベートでも仲良しさんがいっぱいです♪
        <br /> 時には厳しく、時には優しくお互いがその違いを認め合って高めあっていける、そんな仲間がたくさんいます♪ </p>
    <img src="images/bl.gif" alt="" height="40" class="clear" />
    <p class="merit_title"><a name="x2" id="x2">未経験者でもＯＫ！</a></p>
    <p>ほとんどのパートタイマースタッフさんが未経験からのスタートです。
        <br /> 先輩スタッフがていねいに教えてくれるので安心して働けますよ♪ </p>
    <img src="images/bl.gif" alt="" height="40" class="clear" />
    <p class="merit_title"><a name="x3" id="x3">ライフスタイルに合った勤務スタイル</a></p>
    <p>店舗には一定の勤務パターンはありますが、店舗によりそのパターンも様々。きっとあなたにぴったりの勤務パターンが見つかるはずです♪
        <br /> 全国のJ-Questでは主婦の方、学生さん、ダブルワークの方など多数活躍していますよ♪
    </p>
    <img src="images/bl.gif" alt="" height="40" class="clear" />
    <p class="merit_title"><a name="x4" id="x4">資格取得補助</a></p>
    <p>お客様に安全にご利用いただくことはもちろん、あなた自身の安全もしっかりと守るためにJ-Questではすべてのスタッフさんに「危険物取扱者（乙四）」の資格取得をお願いしています。そのための費用負担や教材の提供はもちろん会社が行います！社内での勉強会も随時開催していますのでご安心くださいね♪ </p>
    <img src="images/bl.gif" alt="" height="40" class="clear" />
    <p class="merit_title"><a name="x5" id="x5">お店創りに積極的に参加できる!　まさにあなたも経営者?!</a></p>
    <p>お客様と一番接しているのはパートタイマースタッフのみなさんです。そんなスタッフさんの提案・意見をしっかり受け止め、それをお店創りに活かしていくのがJ-Questの特徴の一つ。
        <br /> まさにあなたが経営者の一人として、お客様に「最高のおもてなし」をするためにどんなことができるか、を考えて実践できます。言われたことだけやる、という旧来のチェーン店とは違いますので、日々新たな刺激と学びがありますよ♪ </p>
    <img src="images/bl.gif" alt="" height="40" class="clear" />
    <p class="merit_title"><a name="x6" id="x6">社会保険完備</a></p>
    <p>雇用保険をはじめ、健康保険、厚生年金等、一定の要件を満たしていれば加入できます。
        <br /> JXグループ健康保険組合なので福利厚生も安心です♪
        <br /> ※雇用保険は週20時間以上勤務の方が加入できます。
        <br /> ※健康保険、厚生年金は一定の業務スキルを満たし、週30時間以上勤務の方が加入できます。
    </p>
    <img src="images/bl.gif" alt="" height="40" class="clear" />
    <p class="merit_title"><a name="x7" id="x7">毎月時給アップのチャンスあり！</a></p>
    <p>J-Questの昇給システムは、あなたとストアマネジャー（店長）とでここに目標を設定し、その到達具合を月に一回話し合います。目標を見事クリアすれば、毎月昇給できるチャンスがあります！
        <br /> まさにあなたの努力が成果としてしっかりと評価されるシステムですのでやりがいをもって勤務できます♪
    </p>
    <p><img src="images/bl.gif" alt="" height="40" class="clear" /></p>
    <p class="merit_title"><a name="x8" id="x8">燃料割引</a></p>
    <p>楽しく働けるうえ、ガソリンの従業員割引もありますよ♪ </p>
    <img src="images/bl.gif" alt="" height="40" class="clear" />
    <p class="merit_title"><a name="x9" id="x9">産前産後休業・育児休業の取得</a></p>
    <p>もちろん産前産後休業・育児休業の取得実績もありますよ♪
        <br /> スタッフの皆さんには安心して子供を産める、育てる環境で働いていただいてます。
        <br /> だから安心して長く働いているスタッフがたくさんいますよ。
        <br />
        <br />
        <FONT size="-1">※育児休業は1年以上働き続けているスタッフが対象です。</FONT>
    </p>
    <div align="center">
        <p class="btn-danger btn">
            <a href="#" onClick="hbs.change('recruit/recruit-pts')">
          応募はこちらから</a></p>
    </div>
    <!--/応募要項-->
    <style>
        /* bootstrap 導入による rollover2.js に応じる修正。*/
        .recruit .nav-sub a img:first-child {
            width: 100%; margin-bottom: -82px; position: relative !important;
        }
    </style>
</div>
