<div class="campaign">
    <h2>キャンペーン情報</h2>
    <!-- 記事の構成
        <div class="post">
            <h3> ... </h3>      // 記事タイトル
            <h4> ... </h4>      // イベント時間
            <p> ... </p>        //　記事内容
        </div>
     -->
    <div class="post">
        <h3>2015.5.1　【高崎新保店】　お客様感謝デー開催！</h3>
        <h4>イベント実施日：2015年5月2日（土）、3日（日）</h4>
        <p>
            ガソリン軽油10Ｌ以上給油でＢＯＸティッシュ5箱かトイレットペーパー8ロールプレゼント
            <br />更にTポイント2倍
            <br /> 詳しくはこちらをご覧ください→
            <a href="images/pdf/leaflet_shinbo_150501.pdf" target="_blank">チラシPDFを開く</a></a>。
            <br />
        </p>
    </div>
    <div class="post">
        <h3>2015.4.30　【～2015年9月】Tポイントお得情報</h3>
        <h4>こちらの店舗ではTポイントが通常より貯まるお得なキャンペーンを実施しています。</h4>
        <p>
            <img src="images/t-point_campaign_table_2015_1st.gif" alt="Tポイントキャンペーン" width="614" height="1700" align="right" />
            <br />
        </p>
    </div>
    <div class="post">
        <h3>2015.4.24　【酒々井店】　アウトレットパワーアップオープンキャンペーン！</h3>
        <h4>イベント実施日：2015年4月20日(月)～</h4>
        <p>
            期間中、ガソリン軽油10Ｌ以上給油のお客様へ
            <br /> 毎週月曜日～金曜はTポイント10Ｐ
            <br /> 毎週土日はＢＯＸティッシュ1箱プレゼント！
            <br /> 詳しくはこちらをご覧ください→
            <a href="images/pdf/leaflet_shisui_150424.pdf" target="_blank">チラシPDFを開く</a>。
            <br />
        </p>
    </div>
    <div class="post">
        <h3>2015.4.24　【名取店】　週末イベント開催！！</h3>
        <h4>イベント実施日：2015年4月1日(水)～5月31日（日）</h4>
        <p>
            毎週土日は、ガソリン軽油10Ｌ以上給油で、ＢＯＸティッシュ1箱プレゼント。
            <br /> さらに、Tポイント3倍
            <br /> 詳しくはこちらをご覧ください→
            <a href="images/pdf/leaflet_natori_150424.pdf" target="_blank">チラシPDFを開く</a>。
            <br />
        </p>
    </div>
    <div class="post">
        <h3>2015.4.24　【仙台富谷店】　週末イベント開催！！</h3>
        <h4>イベント実施日：2015年4月1日(水)～5月31日（日）</h4>
        <p>
            毎週土日は、ガソリン軽油10Ｌ以上給油で、ＢＯＸティッシュ1箱プレゼント。
            <br /> さらに、Tポイント3倍
            <br /> 詳しくはこちらをご覧ください→
            <a href="images/pdf/leaflet_tomiya_150424.pdf" target="_blank">チラシPDFを開く</a>。
            <br />
        </p>
    </div>
    <div class="post">
        <h3>2015.4.24　【長野稲田店】　週末イベント開催！！</h3>
        <h4>イベント実施日：2015年4月1日(水)～5月31日（日）</h4>
        <p>
            毎週土日は、ガソリン軽油10Ｌ以上給油で、ＢＯＸティッシュ1箱プレゼント。
            <br /> さらに、Tポイント3倍
            <br /> 詳しくはこちらをご覧ください→
            <a href="images/pdf/leaflet_inada_150424-.pdf" target="_blank">チラシPDFを開く</a>。
            <br />
        </p>
    </div>
    <div class="post">
        <h3>2015.4.24　【高崎新保店】　週末イベント開催！！</h3>
        <h4>イベント実施日：2015年4月25日(土)～5月31日（日）</h4>
        <p>
            毎週土日は、ガソリン軽油10Ｌ以上給油で、ＢＯＸティッシュ1箱プレゼント。
            <br /> さらに、フレッセイポイント、もしくはTポイント2倍
            <br /> 詳しくはこちらをご覧ください→
            <a href="images/pdf/leaflet_shinbo_150424.pdf" target="_blank">チラシPDFを開く</a>。
            <br />
        </p>
    </div>
    <div class="post">
        <h3>2015.4.10　【渋川店】　新生活応援フェア開催！</h3>
        <h4>　イベント実施日：2015年4月1日(水)～4月30日（木）</h4>
        <p>
            毎週土日は 、ガソリン軽油10Ｌ以上給油でＴポイント10Ｐプレゼント♪
            <br /> 詳しくはこちらをご覧ください→
            <a href="images/pdf/leaflet_shibukawa_150410.pdf">チラシPDFを開く</a></a>。
            <br />
        </p>
    </div>
    <div class="post">
        <h3>2015.3.31　【浜松都田店、浜松雄踏店】お客様感謝祭「宝くじ」当選番号発表</h3>
        <h4>お客様感謝祭にて配布した「宝くじ」の当選番号が決定しました。</h4>
        <p>
            商品引き換え期間は4月1日～30日となります。期間内に店頭までお持ちください。
            <br /> 当選番号はこちら→
            <a href="images/pdf/poster_miyako_150331.pdf">宝くじ当選番号</a>。
            <br />
        </p>
    </div>
    <div class="post">
        <h3>2015.3.31　【宮子ベイシア前店、宮子カインズ前店】 「新生活応援フェア開催！」</h3>
        <h4>　イベント実施日：2015年3月28日（土）～</h4>
        <p> 
            ベイシア西部モール店舗様のお買い物レシートご持参でガソリン・軽油がお安く♪
            <br /> 詳しくはこちらをご覧ください→
            <a href="images/pdf/leaflet_miyako_150331.pdf">チラシPDFを開く</a>。
            <br />
        </p>
    </div>
    <div class="post">
        <h3>2015.3.6　【宮子カインズ前店】　春のカーコーティングフェア開催！</h3>
        <h4>イベント実施日：2015年3月7日（土）～</h4>
        <p>
            毎月25日までに翌月のご予約いただくと、施工20％OFF！！
            <br/>詳しくはこちらをご覧ください→
            <a href="images/pdf/leaflet_miyako_c_150306.pdf">チラシPDFを開く</a>
            </a>。
            <br/>
        </p>
    </div>
    <div class="post">
        <h3>2015.3.6　【大泉店】　「お客様感謝デー！！」</h3>
        <h4>イベント実施日：2015年3月7（土）～3月31日(火)</h4>
        <p>期間中、新型洗車機導入キャンペーンを実施！！
            <br/>・はっ水洗車：通常価格800円→500円
            <br/>・輝きはっ水洗車：通常価格1,100円→700円
            <br/>
            <br/>詳しくはこちらをご覧ください→
            <a href="images/pdf/leaflet_ooizumi_150306.pdf">チラシPDFを開く</a>
            </a>。
            <br/>
        </p>
    </div>
    <div class="post">
        <h3>2015.2.27　【豊科店】　春のカーコーティングフェア開催！</h3>
        <h4>イベント実施日：2015年3月1日（土）～4月30日（木）</h4>
        <p>期間中のご予約で通常価格から10％ＯＦＦ。
            <br/>さらに、毎月25日までに翌月のご予約いただくと、施工20％OFF！！
            <br/>詳しくはこちらをご覧ください→
            <a href="images/pdf/leaflet_toyoshina_150227.pdf">チラシPDFを開く</a>
            </a>。
            <br/>
        </p>
    </div>
</div>
