<div id="footer-nav" class="hidden-xs">
    <div class="pull-left"><img class="logo-enenos" src="images/eneos65.jpg" alt="エネオス" /></div>
    <div class="nav">
        <ul>
            <li><a href="index.html">トップページ</a></li>
            <li><a href="#"  onClick="hbs.change('concept')">J-Questの使命</a></li>
            <li><a href="#"  onClick="hbs.change('service')">商品・サービス</a></li>
            <li><a href="#"  onClick="hbs.change('howto')">ご利用方法</a></li>
            <li><a href="#"  onClick="hbs.change('shop')">店舗情報</a></li>
            <li><a href="#"  onClick="hbs.change('campaign')">キャンペーン情報</a></li>
            <li><a href="#"  onClick="hbs.change('recruit')">採用情報</a></li>
            <li><a href="#"  onClick="hbs.change('faq')">よくある質問</a></li>
        </ul>
        <ul>
            <li><a href="#"  onClick="hbs.change('about')">企業情報</a></li>
            <li><a href="#"  onClick="hbs.change('contact')">お問合せ</a></li>
        </ul>
    </div>
</div>
<!--街並-->
<div id="town">&nbsp;</div>
<!--/街並-->
<!--footer-->
<div id="footer">
    <address class="copy">Copyrights &copy; 2012 J-Quest. All Rights Reserved.</address>
</div>
<!--/footer-->
