<div class="shop">
    <p>
        <img src="images/p_keeper_logo.png" alt="KeePer">
    </p>
    <p>
        下記は、キーパーコーティングの実施店舗です。<br>
        一番下のボタンからご予約もできます。ご希望の店舗とご都合のよろしい日時をご連絡ください。
    </p>
    <!-- テーブル -->
    <table class="map" summary="店舗リスト">
        <tbody>
        <!-- タイトル　-->
        <tr>
            <th>県名</th>
            <th>店舗名</th>
            <th>店舗情報</th>
        </tr>
        <!-- セル　-->
        <tr>
            <td class="city">群馬県</td>
            <td class="shopname">
                <a href="http://eneos-ss.com/search/ss/pc/detail.php?SCODE=101655" target="_blank"
                   id="hokkaido" name="hokkaido">宮子カインズ前店</a>
            </td>
            <td class="address">
                <pre>
                    群馬県伊勢崎市宮子町3146
                    KeePer URL：<a href="http://xxx.xxx.xxx">http://xxx.xxx.xxx</a>
                    tel:0270-30-3733
                    キャンペン情報、秋のコーティングウエア開催
                </pre>
            </td>
        </tr>
        <!-- セル　-->
        <tr>
            <td class="city">群馬県</td>
            <td class="shopname">
                <a href="http://eneos-ss.com/search/ss/pc/detail.php?SCODE=101655" target="_blank" id="hokkaido"
                   name="hokkaido">宮子カインズ前店</a>
            </td>
            <td class="address">
                <pre>
                    群馬県伊勢崎市宮子町3146
                    KeePer URL：<a href="http://xxx.xxx.xxx">http://xxx.xxx.xxx</a>
                    tel:0270-30-3733
                    キャンペン情報、秋のコーティングウエア開催
                </pre>
            </td>
        </tr>
        </tbody>
    </table>
    <p class="btn-primary btn-lg btn">
        <a href="#" onclick="hbs.change('...')">
            ご予約・お問合わせ
        </a>
    </p>
    <!-- テーブル /-->
</div>