<ul class="side-nav">
    <li>
        <a id="side-nav-index" href="index.html" alt="トップページ" /> </a>
    </li>
    <li>
        <a id="side-nav-concept" href="#" onClick="hbs.change('concept')" alt="企業コンセプト" /> </a>
    </li>
    <li>
        <a id="side-nav-service" href="#" onClick="hbs.change('service')" alt="商品・サービス" /> </a>
    </li>
    <li>
        <a id="side-nav-howto" href="#" onClick="hbs.change('howto')" alt="ご利用方法" /> </a>
    </li>
    <li>
        <a id="side-nav-shop" href="#" onClick="hbs.change('shop')" alt="店舗情報" /> </a>
    </li>
    <li>
        <a id="side-nav-campaign" href="#" onClick="hbs.change('campaign')" alt="キャンペーン情報" /> </a>
    </li>
    <li>
        <a id="side-nav-recruit" href="#" onClick="hbs.change('recruit')" alt="採用情報" /> </a>
    </li>
    <li>
        <a id="side-nav-faq" href="#" onClick="hbs.change('faq')" alt="Q &amp; A" /> </a>
    </li>
    <li>
        <a id="side-nav-about" href="#" onClick="hbs.change('about')" alt="企業情報" /> </a>
    </li>
    <li>
        <a id="side-nav-contact" href="#" onClick="hbs.change('contact')" alt="お問合せ" /> </a>
    </li>    
</ul>
